
ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all ease 1s;
}

.wrap{
    display: flex;
    flex-wrap:wrap;
    gap: 1rem;
}

ul .task-lists{
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.315);
    box-shadow: var(--box-shadow);
    width: 95%;
    padding: 1rem;
    border-radius: var(--border-radius);
    transition: all ease 1s;
}

.editing-task-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}


.editing-task-wrapper input{
    width: 80%;
}
.task-text-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 600;
}

.task-text-wrapper span{
    overflow-x:scroll
}
.task-text-wrapper .completed-task{
    text-decoration: line-through;
    color: #9ca3af;
}
.task-text-wrapper span::first-letter{
    text-transform: capitalize;
}

.f-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

@media (max-width: 768px){
    .task-text-wrapper{
        font-size: 1rem;
    }
}