.input-task-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0.8rem;
    border-radius: 2rem;
    margin-top: 6rem;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.12),
        0 4px 12px rgba(0, 0, 0, 0.09);
    width: 90%;
    transition: all ease 0.5s;
}

.input-task-wrapper:hover {
    transform: scale(1.01);
}

