
ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all ease 1s;
}

ul .task-lists{
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.315);
    box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.12),
    0 4px 12px rgba(0, 0, 0, 0.09);
    width: 80%;
    padding: 1rem 1rem;
    border-radius: 3rem;
    transition: all ease 1s;
}

.editing-task-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}


ul .task-lists:hover{
    transform: scale(1.01);
}


.editing-task-wrapper input{
    width: 80%;
}
.task-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 600;
}

.task-text span::first-letter{
    text-transform: capitalize;
}

.f-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}