.input-task-wrapper{
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    padding:0.7rem var(--padding);
    margin: 0  auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

}
.input-task{
    width: 90%;
    padding: 0.7rem;
    outline: none;
    font-size: 1rem;
    border: none;
}

.input-task::placeholder{
    color: var(--primary-color);
}

@media (max-width: 768px){
    .input-task-wrapper{
        padding: 0.7rem 0.3rem;
    }
    .input-task{
        font-size: 1.1rem;
    }
    .addBtn{
        font-size: 0.8rem;
        padding: 0.4rem;
        width: 90px;
    }
}