.toggle-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    user-select: none;
    margin-top: 1rem;
}

.checkbox {
    position: relative;
    width: 50px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    border-radius: 24px;
    transition: 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.checkbox input:checked + .slider {
    background-color: var(--primary-color); 
}

.checkbox input:checked + .slider:before {
    transform: translateX(26px);
}

.checkbox:hover .slider {
    transform: scale(1.03);
    box-shadow: 0 0 5px rgba(253, 90, 90, 0.726);
}

.completed {
    font-weight: 500;
    font-size: 0.8rem;
}
