
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #fd758b;
    --border-color: #fa8a9c;
    --border-radius: 0.5rem;
    --background:#b4132e;
    --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.096),
    0 4px 12px rgba(0, 0, 0, 0.158); 
    --padding: 1rem ; 
    --disabled-color: #9ca3af 
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

button{
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
    border: none;
    background: #fd758b;
    padding: 0.7rem;
    color: white;
    width: 120px;
    font-weight: 700;
    box-shadow:
    0 4px 2px rgba(0, 0, 0, 0.219),
    0 4px 12px rgba(0, 0, 0, 0.09);
    transition: all ease 0.5s;
    font-size: 1rem;
}

button:hover{
    transform: scale(1.05);
    background: #f57e92;
}

button:disabled{
    background: var(--disabled-color);
}
.task-stats{
    display: flex;
    padding: 1rem;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    color: var(--primary-color);
}

@media (max-width: 768px){
    body{
        font-size: 0.8rem;
    }
    button{
        padding: 0.3rem;
        width: 80px;
        font-size: 0.8rem;
    }
    .statBtn{
        font-size: 0.8rem;
        padding: 0.5rem;
        width: 90px;
    }
    
}