.container{
    position: relative;
    margin: 0 auto;
    max-width: 1500px;
}


.task{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f54f6b;
    position: absolute;
    top: 5%;
    left: 4%;
    font-size: 1.3rem;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.12),
        0 4px 12px rgba(0, 0, 0, 0.09);
    width: 100px;
    padding: 0.5rem;
    height: 30px;
    border-radius: 2rem;
}

.btn{
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
    border: 1px solid #f54f6b;
    background: #fd758b;
    padding: 0.6rem;
    color: white;
    width: 100px;
    font-weight: 700;
    box-shadow:
    0 4px 2px rgba(0, 0, 0, 0.219),
    0 4px 12px rgba(0, 0, 0, 0.09);
    transition: all ease 0.5s;
}

.btn:hover{
    transform: scale(1.09);
}

.input-task{
    padding: 0.5rem 0.6rem;
    border: none;
    width: 500px;
    outline: none;
    font-size: 1rem;
    width: 100%;
}

@media (max-width: 480px) {
    
    .input-task{
        padding: 0.2rem 0.5rem;
        height: 10px;
        font-size: 1.2rem;
    }
    .btn{
        width: 80px;
    }
    .input-task-wrapper{
        gap: rem;
    }
}